:root{
    --font-family:  'Quicksand', 'sans-serif;';
    --green-dark: #355214;
    --green-light: #2cc76a;
    --white-main:#e7e1e1;
    --black:#000;
    --white:#fff;
    --green-hover:#22bb5f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}


/* HEADER */
.navbar-container {
    width: 100%;
    height: 150px;
    background-color: var(--white-main);
    padding: 0 2rem;
    border-bottom: 3px solid var(--green-dark);
  }
  
  nav {
    position: relative;
  }
  
  .logo {
    width: 140px;
    height: 140px;
  }
  
  .navbar-items {
    position: absolute;
    right: 0;
    height: 120px;
    line-height: 150px;
    margin: 0;
    display: inline-block;
  }
  
  .navbar-items li {
    display: inline-block;
    color: var(--black);
    text-transform: uppercase;
    margin-left: 30px;
  }
  
  .navbar-items a {
    color:var(--black);
    text-decoration: none;
    transition: 0.5s;
  }
  
  .navbar-items a:hover {
    color: var(--green-hover);
  }

  .default-btn {
    padding: 15px 20px;
    background-color: var(--green-light);
    border-radius: 5px;
  }
  
  .navbar-items .default-btn:hover {
    background-color: var(--green-hover);
    color: var(--white);
  }


  /* MAIN */

  .main-banner {
    background-image: url("../img/bg-img-homepage\ \(2\).png");
    background-size: cover;
    background-position: center;
    padding: 10rem 0;
  }


  .main-banner h1,
  .main-banner p {
    color: var(--white);
    align-items: center;
    text-align: center;
    font-weight: bold;
    text-shadow: var(--black) 2px 2px 2px;
  }
  
  .main-banner h1 {
    font-size: 54px;
  }
  
  .main-banner p {
    font-size: 32px;
  }
/* FOOTER */
.footer-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
    justify-content: space-around;
    border-top: 3px solid var(--green-dark);
}

.mapa{
    margin-left: 15px;
    margin-top: 43px;
}
.mapa_img{
    width: 450px;
}

.redes{
    margin-top: 22px;
    line-height: 90px;
}
.redes p{
    color: var(--green-dark) ;
    font-size: 30px;
    font-weight: bold;
}

.redes a{
    text-decoration: none;
    color: var(--green-dark);
    font-size: 20px;
    font-weight: bold;
}


.redes li{
    list-style: none;
    line-height: 80px;
}

.redes-icons{
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.contato p{
    margin-top: 25px;
    color: var(--green-dark);
    line-height: 40px;
    text-align: center;
    margin-right: 10px;
    font-size: 20px;
}


  /* responsividade */
  @media (max-width: 1200px) {
    .footer-container{
      display: flex;
      flex-direction: column;
    }
    .mapa{
      margin: 0 auto
    }
    
    .redes{
      margin: 0 auto;
    }

    .contato{
      text-align: center;
      font-size: 12px;
    }
  }

  /* tablet 900px */
  @media (max-width: 900px) {
    .main-banner p {
      padding: 0 6rem;
    }
    .footer-container{
      display: flex;
      flex-direction: column;
    }
    .mapa{
      margin: 0 auto
    }
    
    .redes{
      margin: 0 auto;
    }

    .contato{
      text-align: center;
      font-size: 12px;
    }
  }
  
  
  /* celular 576px */
  @media (max-width: 576px) {
    html,
    body {
      overflow-x: hidden;
    }
  
    .navbar-items li {
      font-size: 12px;
      margin-left: 10px;
    }
  
    .main-banner p {
      padding: 0 2rem;
    }
    
    .footer-container{
      display: flex;
      flex-direction: column;
    }
    .mapa{
      margin: 0 auto
    }
    
    .redes{
      margin: 0 auto;
    }

    .contato{
      text-align: center;
      font-size: 12px;
    }
  }
